html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@mixin blue-header-upper {
  color: #006e9f;
  text-transform: uppercase;
}

.about__header,
.notes__header,
.remember__header,
.tricks__header,
.week__header {
  @include blue-header-upper;
}

.body {
  background: linear-gradient(rgba(1, 59, 96, 0.99), #f0f7ef);
  /* background: #d7ded6; */
  color: rgb(37, 35, 35);
  font-family: "Raleway", "Century Gothic", sans-serif;
  font-size: 18px;
  &__logo {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    max-width: 1000px;
    max-height: 300px;
    background: #f0f7ef;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin: auto;
  }
  &__logo-image {
    width: 100%;
    height: 100%;
  }
}

.footer {
  box-sizing: border-box;
  max-width: 1000px;
  background: rgba(1, 59, 96, 0.99);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding-left: 10px;
  &__info {
    margin-top: 0;
    color: white;
    text-decoration: none;
  }
  &__navigation-link {
    color: white;
    text-decoration: none;
  }
}

.hamburger {
  display: none;
}

.klasa-z-js {
  font-style: italic;
}

.lesson {
  &__code-attribute {
    color: green;
    font-family: monospace;
    font-weight: bold;
  }
  &__code-box {
    border: 2px solid grey;
    border-left: 12px solid olive;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    font-family: monospace;
    max-width: 500px;
  }
  &__code-box:hover {
    border-left: 12px solid lightcoral;
  }
  &__code-tag {
    color: #208aae;
    font-family: monospace;
    font-weight: 900;
  }
  &__header {
    @include blue-header-upper;
  }
  &__header::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #006e9f;
    border-radius: 50%;
  }
  &__header::after {
    content: " |";
  }
  &__image-root {
    max-width: 60%;
  }
  &__remember,
  &__lesson__summary {
    @include blue-header-upper;
    font-size: 1.1em;
  }
  &__sub-header {
    @include blue-header-upper;
  }
}

.list-gradient {
  background: linear-gradient(green, yellow, lightblue, #d7ded6);
  max-width: 300px;
  border-radius: 5px;
  box-sizing: border-box;
  &__element {
    padding: 5px;
  }
}

.main {
  box-sizing: border-box;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  /* background: linear-gradient #f0f7ef; */
  max-width: 1000px;
  background: #f0f7ef;
  padding: 10px;
  margin: auto;
  &__header {
    @include blue-header-upper;
    &--title {
      text-shadow: 2px 2px 0 #80769b;
      display: flex;
      justify-content: center;
    }
  }
}

.navigation {
  box-sizing: border-box;
  max-width: 1000px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background-color: rgba(1, 59, 96, 0.99);
  /* padding-left: 5px; */
  margin: auto;
  /* position: fixed; */
  /* left: 50%;
    right: 50%; */
  top: 0;
  padding-top: 10px;
  &__list-link {
    color: white;
    text-decoration: none;
  }
  &__list {
    padding-inline-start: 0;
    display: flex;
    justify-content: space-around;
    margin: 0;
  }
  &__list-link:hover {
    color: aqua;
  }
  &__list-element {
    padding: 15px;
    display: inline;
  }
}

/* GRID styling - GRID classes added to test GRID for grid.html */

.week {
  &__section-header {
    /* grid-area: header; */
    background: lightyellow;
    /* grid-column-start: first;
      grid-column-end: span 3;
      grid-row-start: 1;
      grid-row-end: 2; */
    /* grid-area: 1 / 1 / 2 / 4; */
    grid-row: 1 / 2;
    grid-column: 1 / 4;
  }
  &--II {
    display: grid;
    grid-template-columns: [first] 1fr [second] 1fr [third] 1fr;
    grid-template-rows: auto;
    row-gap: 2px;
    column-gap: 2px;
  }
} 

.lesson {
  &--W02E02 {
    padding: 10px;
    /* grid-area: W02E02; */
    background: yellowgreen;
    /* grid-area: 2 / 1 / 3 / 2; */
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  &--W02E03 {
    padding: 10px;
    grid-area: W02E03;
    background: lightpink;
    /* grid-area: 2 / 2 / 4 / 4; */
    grid-row: 2 / 4;
    grid-column: 2 / 4;
  }
  &--W02E04 {
    padding: 10px;
    /* grid-area: W02E04; */
    background: lightseagreen;
    /* grid-area: 3 / 1 / 4 / 2;  */
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
  &--W02E05 {
    padding: 10px;
    /* grid-area: W02E05; */
    background: lightskyblue;
    /* grid-area: 4 /1 / 5 /4; */
    grid-row: 4 / 5;
    grid-column: 1 / 4;
  }
  &--W02E05:last-child {
    /*pseudoklasa*/
    background: rgb(190, 201, 212);
  }
}

/* MEDIA QUERIES  */

@media screen and (max-width: 767px) {
  .body {
    background: lightgreen;
    &__logo-image {
      display: none;
    }
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 16px;
    right: 20px;
    border: none;
    background: none;
  }

  .header {
    min-height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .main {
    margin: 60px auto 0;
    &__header--title {
      display: none;
    }
  }

  .list__gradient {
    background: lightgreen;
    max-width: 300px;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .lesson__image-root {
    max-width: 90%;
  }

  .navigation {
    display: none;
    &__list {
      padding-inline-start: 0;
      display: block;
      justify-content: space-around;
      margin: 0;
    }
    &__list-element {
      display: block;
      padding: 2px;
    }
    &__list-link {
      color: white;
      text-decoration: none;
    }
    &--open {
      display: block;
    }
  }
  .week--II {
    display: block;
  }
}
