html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.about__header,
.lesson__header,
.lesson__remember,
.lesson__sub-header,
.lesson__summary,
.main__header,
.notes__header,
.remember__header,
.tricks__header,
.week__header {
  color: #006e9f;
  text-transform: uppercase;
}

.body {
  background: linear-gradient(rgba(1, 59, 96, 0.99), #f0f7ef);
  /* background: #d7ded6; */
  color: rgb(37, 35, 35);
  font-family: "Raleway", "Century Gothic", sans-serif;
  font-size: 18px;
}

.body__logo {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  max-width: 1000px;
  max-height: 300px;
  background: #f0f7ef;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin: auto;
}

.body__logo-image {
  width: 100%;
  height: 100%;
}

.footer {
  box-sizing: border-box;
  max-width: 1000px;
  background: rgba(1, 59, 96, 0.99);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding-left: 10px;
}

.footer__info {
  margin-top: 0;
  color: white;
  text-decoration: none;
}

.footer__navigation-link {
  color: white;
  text-decoration: none;
}

.hamburger{
  display: none;
}

.lesson__code-attribute {
  color: green;
  font-family: monospace;
  font-weight: bold;
}

.lesson__code-box {
  border: 2px solid grey;
  border-left: 12px solid olive;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  font-family: monospace;
  max-width: 500px;
}

.lesson__code-tag {
  color: #208aae;
  font-family: monospace;
  font-weight: 900;
}

.lesson__image-root {
  max-width: 60%;
}

.list-gradient {
  background: linear-gradient(green, yellow, lightblue, #d7ded6);
  max-width: 300px;
  border-radius: 5px;
  box-sizing: border-box;
}

.list-gradient__element {
  padding: 5px;
}

.lesson__remember,
.lesson__summary {
  font-size: 1.1em;
}

.main {
  box-sizing: border-box;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  /* background: linear-gradient #f0f7ef; */
  max-width: 1000px;
  background: #f0f7ef;
  padding: 10px;
  margin: auto;
}

.main__header--title {
  text-shadow: 2px 2px 0 #80769b;
  display: flex;
  justify-content: center;
}

.navigation {
  box-sizing: border-box;
  max-width: 1000px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background-color: rgba(1, 59, 96, 0.99);
  /* padding-left: 5px; */
  margin: auto;
  /* position: fixed; */
  /* left: 50%;
  right: 50%; */
  top: 0;
  padding-top: 10px;
  
}

.navigation__list {
  padding-inline-start: 0;
  display: flex;
  justify-content: space-around;
  margin: 0;
} 

.navigation__list-link {
  color: white;
  text-decoration: none;
}

.navigation__list-element {
  padding: 15px; 
  display: inline;
}

.navigation__list-link:hover {
  color: aqua;
}

.klasa-z-js {
  font-style: italic;
}


/* GRID styling - GRID classes added to test GRID for grid.html */

.week__section-header {
  /* grid-area: header; */
  background: lightyellow;
  /* grid-column-start: first;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: 2; */
  /* grid-area: 1 / 1 / 2 / 4; */
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  
}

.week--II {
  display: grid;
  grid-template-columns: [first] 1fr [second] 1fr [third] 1fr;
  grid-template-rows: auto;
  row-gap: 2px;
  column-gap: 2px;
}

.lesson--W02E02 {
  padding: 10px;
  /* grid-area: W02E02; */
  background: yellowgreen;
  /* grid-area: 2 / 1 / 3 / 2; */
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.lesson--W02E03 {
  padding: 10px;
  grid-area: W02E03;
  background: lightpink;
  /* grid-area: 2 / 2 / 4 / 4; */
  grid-row: 2 / 4;
  grid-column: 2 / 4;
}

.lesson--W02E04 {
  padding: 10px;
  /* grid-area: W02E04; */
  background: lightseagreen;
  /* grid-area: 3 / 1 / 4 / 2;  */
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.lesson--W02E05 {
  padding: 10px;
  /* grid-area: W02E05; */
  background: lightskyblue;
  /* grid-area: 4 /1 / 5 /4; */
  grid-row: 4 / 5;
  grid-column: 1 / 4;
}

/* Media queries  */

@media screen and (max-width: 767px) {

.body{
  background: lightgreen;
} 

.body__logo-image{
display: none;
}

.hamburger {
  display: block;
  position: absolute;
  top: 16px;
  right: 20px;
  border: none;
  background: none;
}

.header{
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  
}

.week--II {
  display: block;
}

.main{
  margin: 60px auto 0;
}

.main__header--title {
  display:none;
}

.list__gradient {
  background: lightgreen;
  max-width: 300px;
  border: 1px solid white;
  border-radius: 5px;
  box-sizing: border-box;
}

.lesson__image-root {
  max-width: 90%;
}

.navigation {
  display: none;  
  }

.navigation--open{
  display: block;
  
}

.navigation__list-element {
  display: block;
  padding: 2px;
}

.navigation__list {
  padding-inline-start: 0;
  display: block;
  justify-content: space-around;
  margin: 0;
}

.navigation__list-link {
  color: white;
  text-decoration: none;
  
}


}