body { 
    background:#fffefe;
    color:rgb(37, 35, 35);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

li {
    padding: 5px;
}


.tag {    
    color: darkred;
    font-family: monospace;
    font-weight: 900;    
}

.attribute {    
    color: green;
    font-family: monospace;
    font-weight: bold; 
}

.selector {    
    color: rgb(122, 97, 28);
    font-family: monospace
    font-weight: bold; 
}

body h2,h3 {
    color: grey;
    } 
    
.main-header {
    color: grey;
    text-shadow: 2px 2px 0 #000000;

}  

.navigation-link {
    color: purple;
    text-decoration: none;
    text-transform: uppercase;

}

.summary-remember-header {
    font-size: 1.10em;
}

.navigation {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: sticky;
    float: right;
}

.navigation li {
    display: inline;
}


.code {
    border: 2px solid grey;
    width: 450px;
    border-left: 12px solid olive;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    font-family: monospace;
}







