html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.about__header,
.lesson__header,
.lesson__remember,
.lesson__sub-header,
.lesson__summary,
.main__header,
.notes__header,
.remember__header,
.tricks__header,
.week__header {
  color: #006e9f;
  text-transform: uppercase;
}

.body {
  background: linear-gradient(rgba(1, 59, 96, 0.99), #f0f7ef);
  /* background: #d7ded6; */
  color: rgb(37, 35, 35);
  font-family: "Raleway", "Century Gothic", sans-serif;
  font-size: 18px;
}


.body__logo {
  display: flex;
  justify-content: center;  
  box-sizing: border-box;
  width: 1000px;
  background: #f0f7ef;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin: auto;  
}

.body__logo-image {
  
  width: 1000px;
  height: 300px;
}

.footer {
  box-sizing: border-box;
  max-width: 1000px;
  background: rgba(1, 59, 96, 0.99);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin:0 auto;
  padding-left: 10px;
}

.footer__info
{
  margin-top: 0;
  color: white;
  text-decoration: none;  
  
}

.footer__navigation-link
{
  
  color:white;
  text-decoration: none;  
  
}


.lesson__code-attribute {
  color: green;
  font-family: monospace;
  font-weight: bold;
}

.lesson__code-box {
  border: 2px solid grey;
  border-left: 12px solid olive;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  font-family: monospace;
  max-width: 500px;
}

.lesson__code-tag {
  color: #208aae;
  font-family: monospace;
  font-weight: 900;
}

.lesson__image-root {
  width: 455px;
}


.lesson__list--gradient {
  background: linear-gradient(green, yellow, lightblue, #d7ded6);
  width: 300px;
  border-radius: 5px;
  box-sizing: border-box;
}

.lesson__list-element {
  padding: 5px;
}

.lesson__remember,
.lesson__summary {
  font-size: 1.1em;
}

.main {
  box-sizing: border-box;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  /* background: linear-gradient #f0f7ef; */
  max-width: 1000px;
  background: #f0f7ef;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: auto;
}

.main__header--title {
  text-shadow: 2px 2px 0 #80769b;
  display: flex;
  justify-content: center;
}

.navigation {  
  box-sizing: border-box;
  width: 1000px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background-color: rgba(1, 59, 96, 0.99);
  /* padding-left: 5px; */
  margin: auto;
  /* position: fixed; */
  /* left: 50%;
  right: 50%; */
  top: 0;
  /* transform: translateX(
    -50%
  ); I do not understand this yet but adding fixed margins doesn't make sense? */ 
}


.navigation__list {
  padding-inline-start: 0;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 10px;
  
}

.navigation__list-link {  
  color:white;
  text-decoration: none;  
  
}

.navigation__list-element {
  /* padding: 5px 5px;  */
  display: inline; 
    
}

.navigation__list-link:hover {
  color: aqua;
}

/* .navigation__list-element:hover {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 4px 0; 
} */


