.about__header,
.lesson__header,
.lesson__remember,
.lesson__sub-header,
.lesson__summary,
.main__header,
.notes__header,
.tricks__header,
.week__header {
  color: #8cbcb9;
  text-transform: uppercase;
}

.body {
  background: #d7ded6;
  color: rgb(37, 35, 35);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.footer {
  box-sizing: border-box;
  width: 1000px;
  background: #bfc5be;
  margin: auto;
  padding-left: 10px;
}

.lesson__code-attribute {
  color: green;
  font-family: monospace;
  font-weight: bold;
}

.lesson__code-box {
  border: 2px solid grey;
  width: 450px;
  border-left: 12px solid olive;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  font-family: monospace;
}

.lesson__code-tag {
  color: darkred;
  font-family: monospace;
  font-weight: 900;
}

.lesson__list {
  background: linear-gradient(green, yellow, lightblue, #d7ded6);
  width: 300px;
  border-radius: 5px;
  box-sizing: border-box;
}

.lesson__list-element {
  padding: 5px;
}

.main {
  box-sizing: border-box;
  width: 1000px;
  background: #f0f7ef;
  padding-left: 10px;
  padding-top: 50px;
  padding-bottom: 20px;
  margin: auto;
  margin-bottom: -20px; /*while a positive margin value pushes other elements away, a negative margin will either pull the element itself in that direction, or pull other elements toward it*/
}

.main__header--title {
  text-shadow: 2px 2px 0 #000000;
  font-size: 1.5em; /*overwritting default UAS font-size for the section h1 so it fits article h1 on the remaining pages*/
}

.navigation {
  box-sizing: border-box;
  width: 1000px;
  background: #9db4c0;
  padding-left: 5px;
  margin: auto;
  position: fixed;
  left: 50%;
  right: 50%;
  top: 0;
  transform: translateX(
    -50%
  ); /*I do not understand this yet but adding fixed margins doesn't make sense?*/
}

.navigation__list {
  padding-inline-start: 5px;
}

.navigation__list-element {
  padding: 5px;
  display: inline;
}

.navigation__list-link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.week_header {
  color: #8cbcb9;
  text-transform: uppercase;
}
